<header class="flex justify-center items-center py-5 w-full mx-auto max-w-7xl">
    <nav class="flex flex-wrap justify-center gap-2 md:gap-x-10 text-center text-sm md:text-base">
        <a href="#top" class="flex-grow md:flex-grow-0 hover:text-[#00adb5] transition-colors duration-300">Inicio</a>
        <a href="#sobre-mi" class="flex-grow md:flex-grow-0 hover:text-[#00adb5] transition-colors duration-300">Sobre mi</a>
        <a href="#experiencia" class="flex-grow md:flex-grow-0 hover:text-[#00adb5] transition-colors duration-300">Experiencia</a>
        <a href="#Proyectos" class="flex-grow md:flex-grow-0 hover:text-[#00adb5] transition-colors duration-300">Proyectos</a>
        <a href="#Certificaciones" class="flex-grow md:flex-grow-0 hover:text-[#00adb5] transition-colors duration-300">Certificaciones</a>
    </nav>
</header>
